<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <h2>Главная страница</h2>

    <div>
        <a th:href="@{/oauth2/authorization/keycloak}">Войти</a>
    </div>
    <br/>

    <div>
        <a th:href="@{/register}">Зарегистрироваться</a>
    </div>

    <div>
        <a th:href="@{/profile}">Профиль</a>
    </div>

    <div>
        <a th:href="@{/not-secured-profile}">Профиль для всех</a>
    </div>

    <br/>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Выйти</button>
    </form>

    <div sec:authorize="hasRole('hotel_provider_admin')">
        <a href="/admin">Админка</a>
    </div>
</body>
</html>