<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

<h2>Профиль</h2>

<p>Логин: <span th:text="${username}"></span></p>
<p>Email: <span th:text="${email}"></span></p>
<p>userId: <span th:text="${userId}"></span></p>
<p>Роли:</p>
<ul>
    <li th:each="r : ${roles}" th:text="${r.authority}"></li>
</ul>


<div>
    <a th:href="@{/}">Домой</a>
</div>

<form th:action="@{/logout}" method="post">
    <button type="submit">Выйти</button>
</form>

</body>
</html>